name: github_email_notify
version: 0.0.0-dev
description: Custom emails for your labels and repos you care about
author: Kevin Moore <kevmoo@google.com>
homepage: https://github.com/kevmoo/github_email_notify
environment:
  sdk: '>=1.11.0 <2.0.0'
dependencies:
  angular2: ^2.2.0
  appengine: '^0.3.1+1'
  browser: ^0.10.0+2
  collection: ^1.2.0
  firebase: ^0.6.1
  github: ^3.0.0
  github_hook: ^0.2.2
  googleapis: '>=0.14.0 <0.32.0'
  googleapis_auth: ^0.2.3+1
  http: ^0.11.2
  logging: ^0.11.1
  markdown: ^0.11.0
  path: ^1.3.5
  shelf: ^0.6.0
  shelf_appengine: ^0.2.3
  stack_trace: ^1.7.0
dev_dependencies:
  #build_runner: any
  dart_to_js_script_rewriter: ^1.0.1
  source_gen: ^0.5.0
transformers:
- angular2:
    entry_points:
        - web/client_app.dart
- dart_to_js_script_rewriter
- $dart2js:
    minify: false
    commandLineOptions:
      - --dump-info
      #- --no-frequency-based-minification
      - --trust-type-annotations
      - --trust-primitives
_dependency_overrides:
  angular2:
    path: ../angular2
  analyzer: 0.30.0-alpha.1