<div class="unloaded" *ng-if="root == null">
  <em>Requesting API data...</em>
</div>

<div class="loaded" *ng-if="root != null">
  <div class="user" *ng-if="root.currentUser == null">
    <p><a href="{{ root.loginUrl }}">Login</a></p>
  </div>
  <div class="user" *ng-if="root.currentUser != null">
    <p><a href="{{ root.logoutUrl }}">Logout</a></p>
    <user-comp [user]="root.currentUser"></user-comp>
  </div>
  <div class="admin" *ng-if="root.adminObject != null">
    <h3>Admin</h3>
    <div *ng-if="root.adminObject.authorizedEmail == null">
      <Button (click)="login()" [disabled]="loginDisabled">Email sender login</Button>
    </div>
    <div *ng-if="root.adminObject.authorizedEmail != null">
      <p>Notifications are sent with: {{ root.adminObject.authorizedEmail }}</p>

      <p><Button (click)="sendTestMessage()" [disabled]="loginDisabled">Send test message</Button></p>
      <p><Button (click)="updateGithubLabels()" [disabled]="loginDisabled">Update GitHub labels</Button></p>
      <p><Button (click)="emailSenderLogout()" [disabled]="loginDisabled">Email sender logut</Button></p>

    </div>
  </div>
</div>
